.product {
  padding: 30px 0;
  margin-bottom: 30px;

  @media (max-width: 599px) {
    margin: 0;
    padding: 0;
  }

  h3 {
    font-weight: $font-black;

    &:after {
      display: flex;
      content: '';
      margin: 20px 0;
      max-width: 70%;
      height: 4px;
      background-color: $color-accent;
      border-radius: $radius;
    }
  }

  &:nth-child(even) {
    .description-wrapper {
      order: 1;

      @media (max-width: 599px) {
        order: 0;
      }
      @media (min-width: 600px) and (max-width: 1100px) {
        order: 0;
      }
    }
  }
}

.row-product {
  margin: 0 auto;
}
.description {
  font-size: $base-size * 1.2;
  color: $color-dark;
  line-height: 24px;
  padding: 0 50px 50px 0;

  @media (max-width: 599px) {
    padding: 10px 0 15px;
    margin: 0;
    font-size: $base-size * 1.5;
  }
  @media (min-width: 600px) and (max-width: 768px) {
    font-size: $base-size * 1.5;
  }
}

.params {
  text-transform: uppercase;
  font-weight: $font-black;

  span {
    color: $color-accent;
    font-weight: $font-bold;
  }
  @media (max-width: 599px), (min-width: 600px) and (max-width: 768px) {
    padding: 7px 0;
  }
}

.badge {
  visibility: hidden;
  width: 110px;
  padding: 20px 0;

  @media (max-width: 599px) {
    display: none;
  }
  @media (min-width: 600px) and (max-width: 768px) {
    width: 70px;
  }
}

.badge.visible {
  visibility: visible;
  box-shadow: none;
}

.product-image {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.47);
  border-radius: $radius;
  max-width: 100%;

  @media (max-width: 599px) {
    max-width: 100%;
    margin: 16px 0;
  }
  @media (min-width: 600px) and (max-width: 768px) {
    max-width: 100%;
    margin: 20px 0;
  }
}

.image-wrapper {
  position: relative;
  max-width: 90%;

  .product-flags {
    position: absolute;
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-left-width: 150px;
    border-right-width: 0;
    border-top-color: $color-accent;
    top: 0;
    right: 0;

    @media (max-width: 599px) {
      margin: 16px 0;
    }
    @media (min-width: 600px) and (max-width: 768px) {
      margin: 20px 0;
    }
  }
}

.new-price,
.old-price {
  position: absolute;
  color: $color-light;
  z-index: 5;
  font-weight: $font-semiBold;
  text-decoration: line-through;
  top: 25px;
  right: 55px;

  @media (max-width: 599px) {
    top: 25px;
  }
}

.new-price {
  text-decoration: none;
  font-size: $base-size * 2;
  font-weight: $font-bold;
  top: 45px;
  right: 15px;

  @media (max-width: 599px) {
    top: 45px;
  }
}
