.main-carousel {
  background-image: url(../images/about-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  height: 80vh;

  @media (max-width: 599px) {
    top: 35px;
  }
}

.carousel-cell {
  height: 100%;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-dark;
    opacity: 0.6;
    z-index: -1;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;


  &__img {
    padding-bottom: 10px;

    img {
      width: 220px;
      height: 220px;

      @media (max-width: 599px) {
        width: 100px;
        height: 100px;
      }
      @media (min-width: 600px) and (max-width: 768px) {
        width: 120px;
        height: 120px;
      }
    }
  }

  &__description {
    color: $color-light;
    width: 28%;
    font-family: $font-text;
    font-size: $base-size;

    @media (max-width: 599px), (min-width: 600px) and (max-width: 768px) {
      width: 85%;
    }

    h4 {
      font-weight: $font-light;
      padding-bottom: 20px;
      font-size: $base-size * 2;
      text-align: center;

      span {
        font-weight: $font-bold;
      }
    }
  }
}
