//Variables
$color-dark: #000;
$color-light: #fff;
$color-accent: #BEA67C;

$font-text: 'Source Sans Pro', sans-serif;
$font-header: 'Source Sans Pro', sans-serif;

$font-light: 200;
$font-regular: 400;
$font-semiBold: 600;
$font-bold: 700;
$font-black: 900;

$radius: 10px;
$transition: all 0.3s;
$base-size: 12px;